* {
    font-family: sans-serif;
    line-height: 2.0;
}

body {
    background-color: lightgray;
}

.page {
    width: 750px;
    background-color: white;
    margin: auto;
    padding: 70px;
    padding-top: 35px;
}

.vis-container {
    width: 100%;
}

.description-right {
    padding-left: 30px;
}

.description-left {
    padding-right: 30px;
}

.pure-g {
    margin-bottom: 15px;
}
